.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  letter-spacing: 0.6px;
  & > * {
    transform: skewX(12deg);
  } // This will work for text only because shape has transform prop which has higher priority ?

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
    & > * {
      transform: skewX(0deg);
    }
  }
  @include respond(phone) {
    transform: skweX(0);
    transform: skewX(0deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 50%;
    // background-color: orangered;
    @include clearFix;
    --webkit-shape-outside: circle(
      50% at 50% 50%
    ); // now will run in safari also
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); // used to make circle or circular shape.
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    @include respond(phone) {
      transform: translateX(-3rem) skewX(0deg);
      // shape-outside: circle(50% at 50% 50%);
    }
  }
  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    // backface-visibility: hidden;
    @include respond(tab-port) {
      transform: translateX(0) scale(1);
    }
  }
  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: translate(-3rem) skewX(0);
    }
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    // &:hover {
    //   transform: translate(-50%, 50%);
    //   opacity: 1;
    // }
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
  @include respond(tab-port) {
  }
}
